.dashboard-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.dashboard-text {
  margin-bottom: var(--dl-space-space-unit);
}
.dashboard-ul {
  width: 504px;
  /* height: 57px; */
  align-self: center;
  padding-left: 0px;
}
.dashboard-container1 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.dashboard-container2 {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
